/* TABLE OF CONTENTS */

/* COLORS USED
Background: #00BCD4 */

/* FONTS USED
font-family: 'Rock Salt', cursive;  (header)
font-family: 'Khula', sans-serif;  (body)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

html {
    background-color: #00bcd4;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color: white;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Khula', sans-serif;
    color: white;
}

.hide {
    display: none;
}

::selection {
    background-color: turquoise;
}

img {
    display: block;
    margin: auto;
    margin-top: 35px;
    width: 40%;
    max-width: 70%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Social Media Icon */
.fa {
    padding: 1rem;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-linkedin,
.fa-skype,
.fa-youtube {
    background-color: transparent;
    color: white;
}
