/* TABLE OF CONTENTS */

/* COLORS USED
Background: #00BCD4 */

/* FONTS USED
font-family: 'Rock Salt', cursive;  (header)
font-family: 'Khula', sans-serif;  (body)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

html {
    box-sizing: border-box;
}

.container {
    background-color: #00bcd4;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

/* Fonts and Sizes */
a:link {
    text-decoration: none;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 2rem;
    font-weight: lighter;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Khula', sans-serif;
    color: white;
    text-align: center;
    padding: 0.2rem;
}

p,
a {
    font-family: 'Khula', sans-serif;
    color: white;
    line-height: 1.4rem;
    padding: 0.2rem;
}

h2 {
    font-size: 2.1rem;
    line-height: 2.5rem;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

.hide {
    display: none;
}

/* Highlight Color */
::selection {
    background-color: turquoise;
}

img {
    display: block;
    margin: auto;
    margin-top: 35px;
    width: 40%;
    max-width: 45%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Button */
.button {
    display: block;
    margin: 8px auto;
    background-color: rgba(25, 148, 164, 0.53);
    color: white;
    font-family: 'Khula', sans-serif;
    width: 80%;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.button:hover {
    box-shadow: 1px 1px 6px grey;
}

/* Social Media Icon */
.fa {
    padding: 1rem;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-linkedin,
.fa-skype,
.fa-youtube,
.fa-envelope,
.fa-phone,
.fa-globe {
    background-color: transparent;
    color: white;
}

div ul li {
    list-style-type: none;
}

div ul li i,
div ul li a,
div ul li p {
    display: inline;
}

span {
    display: inline-block;
    color: white;
}

.stars {
    text-align: center;
    margin-bottom: 15px;
}

/* CONTENT MODIFICATION */
section {
    padding: 15px;
    border-top: 1px dashed rgba(25, 148, 164, 0.53);
}

article {
    padding: 5px;
}

.contact-container {
    background-color: aqua;
    text-align: center;
    background-color: rgba(25, 148, 164, 0.53);
    padding: 1.5rem;
}

.work article div {
    border-left: 2px solid white;
}

.testimonials h3 {
    display: none;
}

.testimonials article {
    background-color: rgba(25, 148, 164, 0.53);
}

/* MEDIA QUIERIES */

/*  MEDIA QUERY - 768PX and UP */
@media (min-width: 768px) {
    .contact-container {
        width: 70%;
        display: block;
        margin: auto;
    }
    .work article p,
    .education article,
    .testimonials article {
        display: block;
        margin: auto;
        width: 70%;
    }
}

/* MEDIA QUERY - 1024 and UP */
@media (min-width: 1024px) {
    .button {
        width: calc(100% / 2 - 40px);
        display: inline;
        float: left;
        margin: 20px;
    }
    .social-icon-container {
        width: 30%;
        display: block;
        margin: auto;
    }
    img {
        width: 20%;
        max-width: 45%;
    }
    h1 {
        font-size: 4rem;
    }
    .education article,
    .testimonials article {
        width: calc(100% / 2 - 40px);
        float: left;
    }
    .skills article {
        float: left;
        width: calc(100% / 3);
    }
    .testimonials article {
        height: 77px;
        margin: 10px;
    }
}

/* MEDIA QUERY - 2000 and UP */
@media (min-width: 2000px) {
    img {
        width: 15%;
        max-width: 20%;
    }
}
